<%= form_with model: [:admin, @badge], local: true do |form| %>

<%= render 'shared/errors', resource: @badge %>

<p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :badge_title %>
</p>

<p>
    <%= form.label :image %>
    <%= form.text_field :img_url, id: :badge_image %>
</p>

<p>
    <%= form.label :condition %>
    <%= form.collection_select :condition, Badge.all, :condition, :condition, prompt: true %>
</p>

<p>
  <%= form.label :description %>
  <%= form.text_area :description, id: :badge_description %>
</p>

<p><%= form.submit t('new_badge')%></p>

<%end %>
