<div class="container">
  <h1><%= t('.header') %></h1>
  <div class="row mt-3">
    <div class="col col-md-12">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t('.question') %></th>
          <th scope="col"><%= t('.url') %></th>
          <th scope="col"><%= t('.user') %></th>
        </tr>
        </thead>

          <%= render @gists %>

      </table>
    </div>
  </div>
</div>

