<h1>The <%= @test_passage.test.title %> test was completed!</h1>


<p>
  Correct answers: <%=@test_passage.correct_questions%> of <%=@test_passage.test_questions_count %>
</p>

    <p>
      <%= test_summary_message(@test_passage) %> with result:
      <span class=<%= test_summary_score_color(@test_passage) %>> <%= @test_passage.test_result%>%</span>
    </p>

<%= link_to 'Back to tests', tests_path %>
