<h1><%= t'.header', title: @test_passage.test.title %></h1>


<p>
  <%= t('.result_correct_answers', correct: @test_passage.correct_questions, total: @test_passage.test_questions_count ) %>
</p>

<!--<p>
  <%#= t('.time_to_pass', time: @test_passage.time_to_pass) %>
</p>-->

<p>
  <%= test_summary_message(@test_passage) %>
  <span class=<%= test_summary_score_color(@test_passage) %>> <%= @test_passage.test_result %>%</span>
</p>

<div class="row">
    <%= render @test_passage.user.badges %>
</div>
<%= link_to t('test_passages.show.back_to_tests_link'), tests_path %>
