<div class="container">
  <h1><%= t('.header') %></h1>
  <div class="row mt-3">
    <div class="col col-md-8">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col"><%= t('.title') %></th>
          <th scope="col"><%= t('.level') %></th>
          <th scope="col"><%= t('.questions') %></th>
          <th scope="col"><%= t('.actions') %></th>
        </tr>
        </thead>

        <%= render @tests %>
      </table>
    </div>
  </div>
</div>


